//- layout.jade
doctype html
html(ng-app="netStatsApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title FCH.Network Status
    style(type="text/css") [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700')
    link(rel='stylesheet', href='/css/netstats.min.css')
    link(rel="apple-touch-icon",sizes="180x180",href="/images/apple-touch-icon.png")
    link(rel="icon",type="image/png",href="/images/favicon-32x32.png",sizes="32x32")
    link(rel="icon",type="image/png",href="/images/favicon-16x16.png",sizes="16x16")
    meta(name="application-name",content="&nbsp;")
    meta(name="msapplication-TileColor",content="#FFFFFF")
    meta(name="msapplication-TileImage",content="/images/mstile-144x144.png")
    meta(name="msapplication-square70x70logo",content="/images/mstile-70x70.png")
    meta(name="msapplication-square150x150logo",content="/images/mstile-150x150.png")
    meta(name="msapplication-wide310x150logo",content="/images/mstile-310x150.png")
    meta(name="msapplication-square310x310logo",content="/images/mstile-310x310.png")

    
    
    
  body
    block content

    script(src="/js/netstats.min.js")
